.error__bloc {
    margin:200px auto 0 auto;
    padding: 25px;
    width:95%;
    max-width: 600px;
    &__bloc__item {
        padding:10px;
    }
    &__heading {
        font-size: 48px;
        color:$color-secondary;
    }

    &__text {
        margin-top: 15px;
        font-weight: 800;
    }

    img {
        display: inline-block;
        width: 90%;
        max-width: 300px;
        border: 3px solid $color-secondary;
        border-radius: 50%;
        @include silver;
    }
}